body{
    min-height: 100vh;
    margin: 0;
}
nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}
.container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    padding-left: 20px;
}
.navigations{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.navigations a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.music-player{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: top;
    width: 100%;
    min-height: 83vh;
}
.playlists{
    width: 18%;
    background-color: black;
    color: white;
    padding: 20px;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.playlists ul li{
    font-family: Arial, sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 90%;
    height: 50px;
    border-radius: 10px;
    background-color: #6e6e6e;
    list-style: none;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.songs{
    width: 82%;
    background-color: black;
    padding: 10px;
    padding-left: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.songs ul li{
    font-family: Arial, sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 95%;
    height: 50px;
    border-radius: 10px;
    background-color: #6e6e6e;
    list-style: none;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.songs ul:last-child{
    align-self: right;
    justify-content: end;
}
.controller-section{
    padding-left: 30px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
}
.song-details{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 40%;
}
.playtime-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 40%;
    margin-right: 190px;
}
#cover{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}


.player {
  background: #0f172a;
  color: white;
  padding: 15px;
  border-radius: 10px;
  width: 600px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.controls button {
  background: #1db954;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.progress-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

#progress {
  flex: 1;
}

.volume {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}